html, body{ padding:0; margin:0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: $Klavika_light; font-size: 16px; line-height: 2;}
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 100%;}
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;}
.title_section{
    margin-bottom:8px;
    h2{
        color: $color_maron;
        font-family: $Klavika_bold;
        line-height: 1;
    }
    h3{
        font-family: $Klavika_medium; 
        line-height: 1;
    }
}
.container{
    position: relative;
}
.page_logo{
    overflow: hidden;
    display: block;
    img{
        display: block;
        width:100%;
    }
}
.hero_section{
    background-color: $color_black;
    &-banner{
        opacity:0.8;
    }
}
.content{
    &_section{
        padding: 60px 0;
        p{
            margin-bottom:16px;
        }
        ol{
            padding-left: 24px;
            &.list{
                list-style: disc;
                li{
                    margin-left: 20px;
                }
            }
            h6{
                display: inline;
                font-family:$Klavika_medium;
            }
        }
    }
}
.grey_section{
    margin-top: 60px;
    background-color: $color_grey;
    padding: 60px 0;
    overflow: hidden;
}
.footer_section{
    padding: 60px 0;
    color: $color_white;
    background-color: #959595;
    font-family:$Klavika_medium;
    font-size: 13px;
    a{
        color: $color_white;
        text-decoration: none;
    }
    ul{
        float: right;
        li{
            display: inline-block;
            border-right:1px solid $color_white;
            &:last-child{
                border-right: 0;
            }
        }
        a{
            padding:0 12px;
            line-height: 1;
        }
    }
    .copyright{
        float: left;
    }
}
@include mq-min(tablet-wide){
    .hero_section{
        &-banner{
            height:600px;
        }
    }
}
@include mq-min(tablet){
    .title_section{
        h2{
            font-size: 36px;
            margin-bottom: 20px;
        }
        h3{
            font-size: 22px;
        }
    }
}
@include mq-max(tablet){
    .title_section{
        h2{
            font-size: 28px;
            margin-bottom: 18px;
        }
        h3{
            font-size: 18px;
        }
    }
}
@include respond-between(tablet,tablet-wide){
    .hero_section{
        &-banner{
            height:500px;
        }
    }
}
@include respond-between(phablet,tablet){
    .hero_section{
        &-banner{
            height:400px;
        }
    }
}
@include mq-max(phablet){
    .hero_section{
        &-banner{
            height:300px;
        }
    }
}