html, body{ padding:0; margin:0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: $Klavika_light; font-size: 16px; line-height: 2;}
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 100%;}
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;}
.title_section{
    margin-bottom:8px;
    h2,h4,h5{
        font-family: $Klavika_bold;
        line-height: 1;
    }
    h2{
        color: $color_maron;
    }
    h3{
        font-family: $Klavika_medium; 
        line-height: 1;
    }
    h5{
       text-transform: uppercase; 
    }
    h6{
        font-family: $Klavika_medium; 
        line-height: 1.6;
        width:50%;
        margin: auto;
    }
}
.container{
    position: relative;
}
.grey_bg{
    background-color: $color_grey;
}
.page_logo{
    overflow: hidden;
    display: block;
    img{
        display: block;
        width:100%;
    }
}
.hero_section{
    background-color: $color_black;
    &-banner{
        opacity:0.8;
        background-position: center center;
        background-size: cover;
    }
    &-slider{
        background-color: $color_grey;
        position: relative;
    }
}
.slider-1,.slider-2,.slider-3{
    background-position:top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-1{
    background-image: url('../imgs/slider-1.jpg');
}
.slider-2{
    background-image: url('../imgs/slider-2.jpg');
}
.slider-3{
    background-image: url('../imgs/slider-3.jpg');
}
.content{
    &_section{
        padding: 60px 0;
        p{
            margin-bottom:16px;
        }
        ol{
            padding-left: 24px;
            &.list{
                list-style: disc;
                li{
                    margin-left: 20px;
                }
            }
            h6{
                display: inline;
                font-family:$Klavika_medium;
            }
        }
    }
}
.form_section{
    display: flex;
    li{
        width:50%;
    }
    input,textarea{
        width: 80%;
        background-color: #f5f6f7;
        border: 0;
        padding:18px 12px;
        margin-bottom: 16px;
        border-radius: 6px;
    }
    textarea,button{
        float: right;
        clear: both;
    }
    button{
        font-family: $Klavika_medium;
        height: 40px;
        color: $color_white;
        border-radius: 6px;
        border: 0;
        background-color:#da3a35;
        min-width: 140px;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            background-color: $color_maron;
        }
    }
}
.grey_section{
    margin-top: 60px;
    background-color: $color_grey;
    padding: 60px 0;
    overflow: hidden;
}
.footer_section{
    padding: 60px 0;
    color: $color_white;
    background-color: #959595;
    font-family:$Klavika_medium;
    font-size: 13px;
    a{
        color: $color_white;
        text-decoration: none;
    }
    ul{
        float: right;
        li{
            display: inline-block;
            border-right:1px solid $color_white;
            &:last-child{
                border-right: 0;
            }
        }
        a{
            padding:0 12px;
            line-height: 1;
        }
    }
    .copyright{
        float: left;
    }
}
.intro_content-section{
    .title_section{
        text-align: center;
        h5{
            color: $color_maron;
        }
    }
    .content_section{
        padding: 80px 0;
        li{
            text-align: center;
        }
    }
    .service_section{
        h4{
            color: $color_blue;
        }
    }
    .guide_section{
        background: url('../imgs/guide_bg.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        color: $color_white;
        font-family:$Klavika_medium;

    }
}
.content_pod{
    position: relative;
    img{
        width: 90%;
        display: block;
        margin:auto auto 30px;
    }
    &-wrapper{
        text-align: center;
    }
    .step{
        background-color: $color_white;
        color: $color_maron;
        height: 58px;
        width: 58px;
        font-size: 32px;
        line-height: 54px;
        text-align:center;
        border-radius: 50%;
        border: 4px solid #030a0f;
        position: absolute;
        top: 0;
        left: 0;
        &_content{
            margin-top: 6px;
            margin-left: 6px;
            border: 2px solid $color_white;
            padding: 60px 30px 30px;
            border-radius: 14px;
            font-size: 18px;
            line-height: 30px;
            span{
                display: block;
                font-size: 26px;
                margin-bottom: 10px;
            }
        }
    }
}
.btn_one{
    display: inline-block;
    font-family:$Klavika_medium;
    text-align: center;
    padding:14px 20px 12px;
    line-height: 1;
    border: 1px solid $color_blue;
    text-decoration: none;
    color: $color_blue;
    border-radius: 4px;
    max-width: 140px;
    margin: auto;
    &:hover{
        color: $color_white;
        background-color: $color_blue;
    }
}
.arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-top: 10px solid $color_white;
    border-right: 10px solid $color_white;
    &-right {
        transform: rotate(45deg);
    }
    &-left {
        transform: rotate(-135deg);
    }
  }
  .slide_content{
      position: absolute;
      width: 100%;
      top:52%;
      transform: translateY(-52%);
      h2{
          color: $color_white;
          font-family: $Klavika_bold;
          padding-left: 50px;
          font-size: 38px;
            float: left;
            width: 40%;
            line-height: 42px;
      }
  }
@include mq-min(tablet-wide){
    .hero_section{
        &-banner{
            height:600px;
        }
    }
    .slide_viewer{
        height:700px;
    }
}
@include mq-min(tablet){
    .title_section{
        h2,h4{
            font-size: 36px;
            margin-bottom: 20px;
        }
        h3,h6{
            font-size: 22px;
        }
        h5{
            font-size: 20px;
        }
    }
    .intro_content-section{
        .content_section{
            ul{
                display: flex;
                margin:0 -20px;
            }
            li{
                width: 33.3%;
            }
        }
        .content_pod{
            padding: 20px;
            &-wrapper{
                min-height:200px;
            }
        }
    }
}
@include mq-max(tablet){
    .title_section{
        h2,h4{
            font-size: 28px;
            margin-bottom: 18px;
        }
        h3,h6{
            font-size: 18px;
        }
        h5{
            font-size: 16px;
        }
    }
    .intro_content-section{
        .content_section{
            li{
                margin-bottom: 40px;
            }
        }
    }
}
@include respond-between(tablet,tablet-wide){
    .hero_section{
        &-banner{
            height:500px;
        }
    }
    .slide_viewer{
        height:500px;
    }
}
@include respond-between(phablet,tablet){
    .hero_section{
        &-banner{
            height:400px;
        }
    }
    .slide_viewer{
        height:400px;
    }
}
@include mq-max(phablet){
    .hero_section{
        &-banner{
            height:300px;
        }
    }
    .slide_viewer{
        height:300px;
    }
}