.header{
    &_inside-page{
        background: url('../imgs/header_bg.gif');
        .page_logo{
            width:280px;
        }
		a{
			&:hover{
				color: #320b0a;
			}
			&.active{
				color: #320b0a;
			}
		}
    }
    &_landing-page{
        position: relative;
        z-index:200;
        margin-bottom:-100px;
        .page_logo{
            width:280px;
        }
		a{
			&:hover{
				color: #ccc;
			}
			&.active{
				color: #ccc;
			}
		}
    }
}
.main_menu{
    position: absolute;
    top: 36px;
    left: 300px;
    font-size: 13px;
    li{
        padding: 0 18px;
        display:inline-block;
        float: left;
        ul{
            background-color: #fff;
            z-index: 100;
            a{
                font-family: $Klavika_medium;
                color: #666;
                font-size: 14px;
                &:hover{
                    color:#333;
                }
            }
        }
        li{
            display: block;
            float:none;
            &:hover{
                background-color: #ddd;
            }
        }
    }
    a{
        color: $color_white;
        font-family: $Klavika_bold;
        text-decoration: none;
    }
}
.top{
    &_strip{
        background-color: $color_black;
        color: #da3832;
        font-family: $Klavika_medium;
        padding:6px 0;
        overflow: hidden;
        .contacts{
            float: left;
            font-size: 11px;
            padding-top: 8px;
            li{
				padding-left: 24px;
				padding-right: 30px;
				position: relative;
				display: inline-block;
				&::before{
					content: '';
					position: absolute;
					height: 18px;
					width: 20px;
					top: 0;
					left: 0;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: left top;

				}
			}
			.location{
				&::before{
					background-image: url('../imgs/location.svg');
				}
			}
			.time{
				&::before{
					background-image: url('../imgs/time.svg');
				}
			}
			.tell{
				&::before{
					background-image: url('../imgs/tell.svg');
				}
			}
        }
    }
    &_options{
        float: right;
        display: flex;
        input{
            border: none;
            border-radius: 4px;
            height: 24px;
            padding: 0 6px;
        }
    }
}

.lang_option{
    font-size: 10px;
    line-height: 1;
    color: $color_white;
    margin-top: 12px;
    ul{
        display: flex;
    }
    li{
        padding:0 12px;
        &:last-child{
            border-left: 1px solid $color_white;
        }
	}
	.active{
		color: #da3832;
	}
}
.globe{
	position: relative;
	padding-right: 30px;
	float: left;
	&::before{
		content: '';
		position: absolute;
		height: 18px;
		width: 20px;
		top: -5px;
		right: 0;
		background-image: url('../imgs/globe.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left top;

	}
}
.select_option{
	width: 100px;
	float: left;
	overflow: hidden;
	margin-top:-3px;
	select,option{
		font-family: $Klavika_medium;
	}
	select{
		background: transparent;
		color: #fff;
		border: none;
		width:120%;
	}
}
h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

.toggle,
[id^=drop] {
	display: none;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
    top: 20px; 

}
nav ul ul li{
    display: block;
}	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-20px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: #254441;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}