.about_us-banner{
    background-image: url('../imgs/about_us.jpg');
}
.business-banner{
background-image: url('../imgs/business-banner.jpg');
}
.contact_us-banner{
    background-image: url('../imgs/contact_us-banner.jpg');
}